{{define "clients"}}
<div class="panel panel-default collapse" id="clients">
  <div class="panel-heading clearfix">
    <span class="h4">Clients</span>
    <a href="#" class="btn btn-primary active pull-right" role="button" data-toggle="modal" data-target=".js-add-client">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
  </div>
  <div class="panel-body">
    <div class="list-group items">
    </div>
  </div>

  <script type="text/template">
  	<a href="#" class="list-group-item" data-id="<%= id %>" data-toggle="modal" data-target=".js-add-client">
      <h4 class="list-group-item-heading"><%= name %></h4>
      <p class="list-group-item-text">Age:&nbsp;<%= printAge(birthday) %>, tel:&nbsp;<%= tel %>, email:&nbsp;<%= email %></p>
    </a>
  </script>
</div>

<div class="modal fade js-add-client" tabindex="-1" role="dialog" aria-labelledby="addClientModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Client Data</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group form-group-lg">
            <label for="clientName">Name</label>
            <input type="text" name="name" class="form-control" id="clientName" placeholder="Name and Surname">
          </div>
          <div class="form-group">
            <label>Address</label>
            <input type="text" name="address[street]" class="form-control" placeholder="Street">
            <div class="row row-margin">
              <div class="col-xs-4">
               <input type="text" name="address[post_code]" class="form-control" placeholder="Code">
              </div>
              <div class="col-xs-8">
               <input type="text" name="address[city]" class="form-control" placeholder="City">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="clientEmail">Email address</label>
            <input type="email" name="email" class="form-control" id="clientEmail" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="clientTel">Phone number</label>
            <input type="tel" name="tel" class="form-control" id="clientTel" placeholder="Phone number">
          </div>
          <div class="form-group">
            <label for="clientBirthday">Birthday</label>
            <div class="input-group date date-picker" data-picker="date-only">
              <input type="text" name="birthday" class="form-control" id="clientBirthday" placeholder="Birthday" readonly>
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
            </div>
          </div>
          <div class="form-group">
            <label for="clientPrice">Special Price</label>
            <input type="number" name="specialPrice:number" class="form-control" id="clientPrice" placeholder="Fill special price if present">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger pull-left js-remove">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> <span class="hidden-xs">Remove</span>
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary js-save">Save changes</button>
      </div>
    </div>
  </div>
</div>
{{end}}