{{define "login"}}
<div class="container collapse" id="login-container">
  <form class="form-signin js-signin">
    <h2 class="form-signin-heading">Please sign in</h2>

    <div class="alert alert-danger collapse" role="alert">
      The given code is invalid!
    </div>

    <label for="inputCode" class="sr-only">Employee code</label>
    <input type="tel" id="inputCode" name="code" class="form-control" placeholder="Employee code" required="true" autofocus="true">
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block">Sign in</button>
  </form>
</div>
{{end}}